{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "printWidth": 5000,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
